@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Prover</h1>
    <p>Projeto Teste da Prover</a>.</p>
</div>

<!-- Bem algumas coisas faltaram, mas não foi por falta de empenho em resolver, mas sim por pouca expereinecia!!!
    1- Validação da parte de recuperação da senha;
    2 - Validação da data de nascimento não poder ser maior que a data de cadastro;
    3 - Ajsute no datetime, poisesta aparecendo co campo HH-MM;
-->
